<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Trial Status</th>
      <th scope="col">Plan Level</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>

  <% @companies.each do |company| %>
    <tbody>
      <tr class="bg-secondary">
        <th><%= company.name %></th>
        <td><%= company.trial_status %></td>
        <td><%= company.plan_level %></td>
        <td><%= company.created_at.strftime('%m/%d/%Y') %></td>
      </tbody>

      <tbody>
        <thead>
          <tr class='bg-light'>
            <th>Lessons</th>
            <th>Active</th>
          </tr>
        </thead>
        <% company.lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.name %></td>
            <td><%= lesson.active %></td>
          </tr>
        <% end %>
      </tr>
    </tbody>

    <tr class="blank_row">
      <td colspan="5"></td>
    </tr>
  <% end %>
</table>
